# ------------------------------
# Environment Variables for db Service
# ------------------------------
PGUSER=postgres
# The password for the default postgres user.
POSTGRES_PASSWORD=password_go
# The name of the default postgres database.
POSTGRES_DB=password_go
# postgres data directory
PGDATA=/var/lib/postgresql/data/pgdata

# ------------------------------
# Docker Compose Service Expose Host Port Configurations
# ------------------------------
EXPOSE_POSTGRES_PORT=5432
EXPOSE_REDIS_PORT=6379
