secret_key: "SECRET-KEY"
gin:
  mode: "release"  # For production release, change this to release
database:
  host: "localhost"
  port: 5432
  username: "postgres"
  password: "password_go"
  db: "password_go"